@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";



body {
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

* {
  box-sizing: border-box;
}

.header {
  background: red;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 10px 15px;
      list-style: none;
    }

  }

}

.submenu {
  &.blue {
    background: blue;
  }
  &.nav li{
     list-style: none;
  }
  &.sky ul{
    padding: 0;
  }
  &:hover {
    background: yellow;
  }
}

