@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";



body {
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto&display=swap');
$mainFont: 'Indie Flower', sans-serif;
$secFont: 'Roboto', cursive;
$liPadding: 10px 15px;
$liDisplay: inline-block;
$marginNum: 70;



.header {
  background: red;

  ul {
    padding: 0;
    margin: 0;

    li {
      font-family: $mainFont;
      display: $liDisplay;
      padding: $liPadding;
      list-style: none;
    }

  }

}
.container {
  width: 50 * 15 + px;
  margin: 0 auto;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
article{
  width: 1000px / 1200px * 100%;
  display: inline-block;
  float: left;
}
aside {
  width: 200px / 1200px * 100%;
  display: inline-block;
  padding: 20px / 1200px * 100%;
  background: red;
  img {
    width: 100%;
  }
}

.submenu {
  &.blue {
    background: blue;
  }
  &.nav li{
    font-family: $mainFont;
     list-style: none;
     padding: $liPadding;
     display: $liDisplay;
     margin-bottom: $marginNum + px;
    }
  &.sky ul{
    padding: 0;
  }
  &:hover {
    background: yellow;
  }
}

.btn.primary {
  background: blue;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0;
}
.btn.success {
  background: green;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0;
}
.btn.danger {
  background: red;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0;
}
.btn.warning {
  background: yellow;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0;
}